body{
    text-align: center;
    background-color: #6495ed;
    color:white;
    font-family: Helvetica,Arial,  sans-serif;
}
#add {
    background-color: red;
border: 0;
color: white;
padding: 26px 20px;
    
padding-right: 40px;
cursor: pointer;
margin-top: 35px;
}
.remove{
    margin-top: 13px;
    background-color: #f2f205;
    float: right;
    clear: both;
    padding-right: 20px;
    border-radius: 5px;
    width:60px;
    height:20px;
    border-style: none;
}
#wrapper{
    width: 80%;
background-color: #000365;
margin-top: 150px;
margin-left: 4%;
padding-bottom: 50px;
padding-left: 60px;
padding-top: 60px;
padding-right: 65px;
border-radius: 25px;
}
ul{
    list-style: none;
    text-align: left;
    line-height: 35px;
    margin-left:80px;
    margin-right:110px;
}
#task{
    width: 68%;
height: 62px;
margin-left: 17px;
}
h1{
    margin-top: 29px;
font-size: 72px;
}
